@import "./colors.scss";

html, body {
    margin: 0;
    padding: 0;
    background: $background;
    font-family: "Open Sans", "Helvetica", "sans-serif";
    font-weight: 300;
}

body {



    ul, li {
        margin:0;
        padding:0;
        list-style: none;
    }



}



